*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

html,body, .container{
    height: 100%;
    width: 100%;
}
 

.flex{
    display: flex;
}

.al-item{
    align-items: center;
}

.justify{
    justify-content: center;
}

.justify-1{
    justify-content: space-between;
}

.justify-spacebetween{
    justify-content: space-between;
}

.flex-system1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-system2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav{
    padding: 2px; 
    font-weight: 400;
    padding: 2px 70px
}

.nav-left{
    gap: 20px;
}



.nav-img{
    height: 50px;
    width: 150px;
    border: 1px dotted black;
    border-radius: 1px;
}

.nav-img img{
    height: 25px;
}


.nav-left a{
    color: black;
    font-size: 13px; 
    text-decoration: none;
}


.sign-in img{
   height: 25px;
   width: 25px;
}

.nav-right a{
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: #000;
}

.gap{
    gap: 25px;
}

.scroll-icon{
    margin-top: 20px;
    gap: 20px;
}

.picture{
    height: 70%;
    width: 100%;
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Surface-Pro-9-M1-Family-02-1:VP2-859x540);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.work-area{
    margin-top: 50px;
}

.work-area img{
    height: 40px;
}

.work-area a{
    font-weight: 800;
    font-size: 16px;
    font-weight: 500;
    color: rgba(24, 24, 167, 0.864);
}

.div1{
    margin-left: 60px;
}

.gap{
    margin-left: 20px;
}

.hero{
    padding: 30px;
}

.card{
    padding: 0px 70px;
    margin-top: 50px;
    
}

.box{
    height: 520px;
    width: 320px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -1px -1px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 1%;
}

.upper-box{
    height: 35%;
    width: 100%;
}

.upper-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1%;
}

.lower-box{
    padding: 0px 20px;
}

.lower-box h1{
    font-size: 32px;
    font-weight: 600;
    margin-top: 15px;
}

.lower-box p{
    margin-top: 14px;
    font-size: 16px;
}

.lower-box .button{
    /* font-size: 15px; */
    color: white;
    height: 40px;
    width: 140px;
    background-color: #0067B8;
    border-radius: 2px;
    margin-top: 20px;
    font-weight: 600;
}

.lower-box .button1{
    margin-top: 180px;
    color: white;
    height: 40px;
    width: 160px;
    background-color: #0067B8;
    border-radius: 2px;
    font-weight: 600;
}

.lower-box .button2{
    margin-top: 158px;
    color: white;
    height: 40px;
    width: 160px;
    background-color: #0067B8;
    border-radius: 2px;
    font-weight: 600;
}

.lower-box .button3{
    margin-top: 95px;
    color: white;
    height: 40px;
    width: 100px;
    background-color: #0067B8;
    border-radius: 2px;
    font-weight: 600;
}

.lower-box #a{
    margin-top: 20px;
}

.lower-box a{
    color: #0067B8;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

.lower-box i{
    color: #0067B8;
    font-weight: 900;
}

.mid-picture{
    margin-top: 50px;
    width: 100%;
}

.mid-picture img{
    object-position: center;
    object-fit: cover;
    width: calc(100% - 140px);
}

.card-II{
    padding: 0px 70px;
    margin-top: 80px;
}

.card-II h1{
    font-size: 40px;
    font-weight: 500;
}

.box-II{
    margin-top: 20px;
    height: 470px;
    width: 320px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -1px -1px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 1%;
}

.upper-box-II{
    height: 40%;
    width: 100%;
    background-color: whitesmoke;
}

.upper-box-II img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1%;
}

.lower-box-II{
    padding: 0px 20px;
}

.lower-box-II h1{
    font-size: 29px;
    font-weight: 600;
}

.mg-45{
    margin-top: 45px;
}


.lower-box-II p{
    margin-top: 14px;
    font-size: 16px;
}

.lower-box-II #wid{
    width: 90%;
}


.lower-box-II .button{
    margin-top: 75px;
    color: white;
    height: 40px;
    width: 100px;
    background-color: #0067B8;
    border-radius: 2px;
    font-weight: 600;
}

.btn{
    margin-top: 12px;
    padding: 6px 12px;
    height: 30px;
    width: 60px;
    background-color: #FFB900;
}

.mg-10{
    margin-top: 1px;
}

.lower-box-II .button1{
    margin-top: 40px;
    color: white;
    height: 40px;
    width: 140px;
    background-color: #0067B8;
    border-radius: 2px;
    font-weight: 600;
}

.lower-box-II .button2{
    margin-top: 20px;
    color: white;
    height: 40px;
    width: 100px;
    background-color: #0067B8;
    border-radius: 2px;
    font-weight: 600;
}

.lower-box-II .button3{
    margin-top: 20px;
    color: white;
    height: 40px;
    width: 100px;
    background-color: #0067B8;
    border-radius: 2px;
    font-weight: 600;
}

.follow-btn{
    gap: 20px;
    padding: 0px 70px;
    margin-top: 100px;
}

.follow-btn h1{
    font-size: 16px;
    font-weight: 400;
}

.follow-btn img{
    height: 30px;
    
}

.last-page{
   background-color: whitesmoke;
   margin-top: 110px;
}

.pad-50{
    padding: 36px 200px 0px 70px;
}

.last-page h3{
    font-size: 15px;
    font-weight: 600;
    color: #616161
}

.first-line a{
    text-decoration: none;
    color: #616161;
    font-size: 11px;
}

.first-line div{
    margin-top: 10px;
}

.header{
    padding: 40px 100px 20px 70px;   
}

.header-left{
    gap: 30px;
}

.header-left a{
    text-decoration: none;
    color: #616161;
    font-size: 11px;
}

.header-left img{
    height: 20px;
    width: 20px;
}

.gap-10{
    gap: 10px;
}

.header-right{
    gap: 30px;
}

.header-right a{
    text-decoration: none;
    color: #616161;
    font-size: 11px;
}

